img {
    width: 150px;
    height: 200px;
}
.block {
    margin: 20px auto;
}
select {
    margin: 30px 70px;
    padding: 5px;
    border: 2px solid orange;
    border-radius: 5px;
    color: rgb(48, 47, 47);
    width: 200px;
    height: 50px;
}

.search {
    margin: 0 30px 0px 10px;
    padding: 3px;
    border: 2px solid orange;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    margin-left: 2px;
    margin-top: 100px;
}

.btnSearch {
    margin: 0;
    color: rgb(48, 47, 47);
    background-color: aqua;
    width: 100px;
    transition: 0.5s;
}

.btnSearch:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

input::placeholder {
    color: rgb(48, 47, 47);
}

